* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 72px);
    background-color: orange;
}
